/* styles.css */
.body {
    font: normal 16px Verdana;
    margin: 0;
    height:700px;
    background-image: url("~/src/img/ice_background.jpg");
}

.layout {
    margin: 10px auto;
    background-image: url("~/src/img/ice_background.jpg");
}

.title {
	text-align: center;
	font-family: verdana;
  	font-size: 100px;
  	margin:10px;
}
