/* styles.css */
.body {
    font: normal Verdana;
    margin: 0;
    height:700px;
    opacity: 0.5;
    background-image: url("~/src/img/ice_background.jpg");
}

.layout {
    margin: 0px auto;
}

.header {
	height:200px;
}

.divider {
	display:flex;
}
